%article.video_category
  - @categories.each do |category|
    .ul
      .li
        = category.name
        %br
        - category.recent_videos.each do |video|
          = link_to video_path(video) do
            = image_tag(video.cover_image_url, size: "160x120")
