%article.video_category
  - @categories.each do |category|
    .ul
      .li
        = category.name
        %br
        - category.recent_videos.each do |video|
          = link_to video_path(video) do
            = image_tag(video.small_cover, size: small_cover_size, id: "video-#{video.id}")
